<div class="container">
  <div class="row">
    <h1>Hyper local job search</h1>
  </div>
  <div class="row">
    <div class="col-xs-3">
      Filter?
    </div>
    <div class="col-xs-9">
      {{business-map mapname="Indeed search" jobs=data}}
    </div>
  </div>
</div>

{{outlet}}
